<h1>Lab Mongoose Movies</h1>
<p>Welcome to Lab Mongoose Movies</p>
<a href='./celebrities' alt='celebrities link'>Celebrities</a><br />
<a href='./celebrities/create' alt='create celebrities link'>Add new celebrities</a>
<a href='./movies' alt='movies link'>Movies</a><br />
<a href='./movies/createmovies' alt='create movies link'>Add new movies</a>