<h2>Edit Movie</h2>
<form method='POST' action='/movies/{{data._id}}'>
  <label for='title-input'>Title</label>
  <input id='title-input' type='text' name='title' value='{{data.title}}' />
  <label for='genre-input'>Genre</label>
  <input id='genre-input' type='text' name='genre' value='{{data.genre}}' />
  <label for='plot'>Plot</label>
  <input id='plot-input' type='text' name='plot' value='{{data.plot}}' />
  <button type='submit'>Edit Movie</button>
</form>